body{
    background-color: #fff;
    background-image: linear-gradient(90deg, #fffcf9, transparent 50%), linear-gradient(-90deg, #fffcf9, transparent 50%);
    color: black;
    font-family: 'Source Sans Pro','Arial',sans-serif;
    text-rendering: optimizeLegibility;
}
@media (min-width: 1200px) {
    .container-xl{  /*overriding default*/
        max-width: 100%;
    }   
    #showcase,
    #view-all{
        margin-top: 106px;
    }     
}
@media (min-width: 1920px) {
    .container-xl{
        max-width: 1920px;
    }        
}
@media (max-width: 1200px) {
    #showcase,
    #view-all{
        margin-top: 92px;
    }
}
.container-xl{
    padding: 0;
}
#msg-from-vc {
  background-image: linear-gradient(-30deg, #e6f9ff, transparent 50%);
  border-radius: 10px;
}

.my-link a:link,
.my-link a:visited{
    color: #00b0f0;
}
.my-link a:hover,
.my-link a:focus{
    text-decoration: none;
    color: black;
}
.my-section{
  margin-top: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
}
.vertical-bar{
    display: inline-block;
    height: 50px;
    width: 10px;
    background-color: #f48221;
    margin-top: 12px;
    margin-right: 2px;
}
.btn-info:link,
.btn-info:visited{
  font-size: 80%;
  background-color: #00b0f0;
  box-shadow: none;
  border-color: none;
}
.view-all{
  margin-left: 20px;
  border-left: 1px solid #f48221;
}
.view-all a:link,
.view-all a:visited{
  font-size: 80%;
  color: black;
  padding-left: 10px;
}
.view-all a:hover{
  color: #00b0f0;
  text-decoration: none;
}
.my-underline {
  width: 60px;
  height: 1px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f48221;
  transition: width 0.2s ease;
}
.card:hover .my-underline {
  width: 120px;
}
.card-img-top {
  height: 200px;
}
.card-text{
  text-align: justify;
}
.list-group-item{
  border: none;
  padding: 0;
}
.card{
  border: none;
  border-radius: 10px;
}
#news-section .card {
  background-image: linear-gradient(30deg, #e6f9ff, transparent 50%);
  border-radius: 10px;
}
#notice-section .card {
  background-image: linear-gradient(30deg, #e6f9ff, transparent 50%);
  border-radius: 10px;
}
#research-section .card {
  background-image: linear-gradient(30deg, #e6f9ff, transparent 50%);
  border-radius: 10px;
}
marquee li{
  display: inline-block;
}
.card-title a:link,
.card-title a:visited,
#main-footer a:link,
#main-footer a:visited{
  color: black;
}
.card-title a:hover{
  text-decoration: none;
}
#main-footer a:hover{
  text-decoration: none;
  color: #00b0f0;
}
@media (min-width: 569px) {
  .child-1{
    padding-right: 15px;
  }
  .child-2{
    padding-left: 15px;
    padding-right: 15px;
  }    
  .child-3{
    padding-left: 15px;
  }
}
@media (max-width: 568px) {
  .child-1,
  .child-2,
  .child-3{
    padding-top: 5px;
  }
}

/* Marquee */
.my-marquee{
    background: rgb(241, 241, 241);
}
.my-marquee p{
    font-size: 90%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    background: #00b0f0;
}
.my-marquee marquee{
    padding-top: 1px;
}
.my-marquee ion-icon{
    color: #f48221;
    margin-top: 4px;
}

/* Navbar */
.my-navbar a:link,
.my-navbar a:visited,
.my-navbar-mini a:link,
.my-navbar-mini a:visited{
    color: black;
}
.my-navbar a:hover,
.my-navbar-mini a:hover{
    color: #00b0f0;
    background: none;
}
.my-navbar-big a{
    font-size: 90%;
}
.my-navbar-mini a{
    font-size: 80%;
}
.my-navbar{
    padding-bottom: 8px;
    border-bottom: 1px solid #6f6868;;
    box-shadow: 0px 1px 1px rgb(155, 155, 155);
    background: #fff;
}
.my-navbar-big{
    border-top: 1px solid #f68034;
}
.my-navbar-brand{
    padding: 5px;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 50px -20px, rgba(0, 0, 0, 0.3) 0px 30px 30px -30px, rgba(10, 37, 64, 0.35) 0px -2px 4px 0px inset;
    border-radius: 10px;
}

/* Carousel */
.carousel-item{
    height: 450px;
    border-bottom: 1px solid #6f6868;
    box-shadow: 0px 1px 1px rgb(155, 155, 155);
}
.carousel-item p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 125%;
}
.carousel-image-1{
    background:url('../img/ku1.jpg');
    background-size:cover;
}
  
.carousel-image-2{
    background:url('../img/ku2.jpg');
    background-size:cover;
}
.carousel-image-3{
    background:url('../img/ku3.jpg');
    background-size:cover;
}

/* News */

  #pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
  }
  
  /* Cards */
  .postcard {
    flex-wrap: wrap;
    display: flex;
    /*box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;*/
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
    color: #ffffff;
  }
  .postcard.dark {
    background-color: #18151f;
  }
  .postcard.light {
    background-color: #fff;
  }
  .postcard .t-dark {
    color: #18151f;
  }
  .postcard h5 a:link,
  .postcard h5 a:visited {
    color: black;
  }
  .postcard h5 a:hover{
    text-decoration: none;
  }
  .postcard h1, .postcard .h1 {
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }
  .postcard .small {
    font-size: 80%;
  }
  .postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .postcard .postcard__img_link {
    display: contents;
  }
  .postcard .postcard__bar {
    width: 50px;
    height: 6px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }
  .postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
    font-size: 90%;
  }
  .postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    padding: 0;
    justify-content: center;
  }
  .postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
  }
  .postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
  }
  .postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }
  .postcard:hover .postcard__bar {
    width: 100px;
  }
  
  @media screen and (min-width: 769px) {
    .postcard {
      flex-wrap: inherit;
    }
    .postcard .postcard__title {
      font-size: 2rem;
    }
    .postcard .postcard__tagbox {
      justify-content: start;
    }
    .postcard .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }
    .postcard .postcard__text {
      padding: 3rem;
      width: 100%;
    }
    .postcard .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }
    .postcard:hover .postcard__img {
      transform: scale(1.1);
    }
    .postcard:nth-child(2n+1) {
      flex-direction: row;
    }
    .postcard:nth-child(2n+0) {
      flex-direction: row-reverse;
    }
    .postcard:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }
    .postcard:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
  @media screen and (min-width: 1024px) {
    .postcard__text {
      padding: 2rem 3.5rem;
    }
  
    .postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      top: -20%;
      height: 130%;
      width: 55px;
    }
  
    .postcard.dark .postcard__text:before {
      background: #18151f;
    }
  
    .postcard.light .postcard__text:before {
      background: #fff;
    }
  }
  /* COLORS */
  .postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
  }
  
  .green .postcard__title:hover {
    color: #79dd09;
  }
  
  .green .postcard__bar {
    background-color: #79dd09;
  }
  
  .green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  
  .green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  
  .postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
  }
  
  .blue .postcard__title:hover {
    color: #0076bd;
  }
  
  .blue .postcard__bar {
    background-color: #0076bd;
  }
  
  .blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  
  .postcard .postcard__tagbox .red.play:hover {
    background: #bd150b;
  }
  
  .red .postcard__title:hover {
    color: #bd150b;
  }
  
  .red .postcard__bar {
    background-color: #bd150b;
  }
  
  .red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  
  .red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  
  .postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49;
    color: black;
  }
  
  .yellow .postcard__title:hover {
    color: #bdbb49;
  }
  
  .yellow .postcard__bar {
    background-color: #f68034;
  }
  
  .yellow::before {
    background-image: linear-gradient(-30deg, #e6f9ff, transparent 50%);
  }
  
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(30deg, #e6f9ff, transparent 50%);
  }
  
  @media screen and (min-width: 769px) {
    .green::before {
      background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }
  
    .green:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }
  
    .blue::before {
      background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
  
    .blue:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
  
    .red::before {
      background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }
  
    .red:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }
  
    .yellow::before {
      background-image: linear-gradient(-80deg, #e6f9ff, transparent 50%);
    }
  
    .yellow:nth-child(2n)::before {
      background-image: linear-gradient(80deg, #e6f9ff, transparent 50%);
    }
  }

/* Footer */
#main-footer {
  margin-top: 25px;
  overflow-x: hidden;
  background-image: linear-gradient(-20deg, #e6f9ff, transparent 50%), linear-gradient(20deg, #e6f9ff, transparent 50%);
}

/* Links Section */
#links-section .card {
  background-image: linear-gradient(30deg, #e6f9ff, transparent 50%);
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 1px 1px #A7A7A6;
}
@media (min-width: 992px) {
  #links-section .card {
    height: 350px;
    margin-bottom: 10px;
  }    
}
@media (min-width: 1200px) {
  #links-section .card {
    height: 240px;
  }    
}
@media (min-width: 768px) {
  #links-section .col-lg-4 {
    padding-right: 0;
  }       
}
@media (min-width: 1201px) {
  #links-section ul {
    padding-left: 0;
  }       
}
@media (max-width: 575px) {
  #links-section ul {
    padding-top: 10px;
    margin-left: 18px;
  }       
}
@media (max-width: 991px) {
  #links-section ul {
    padding-left: 0;
  }  
  #links-section .card {
    margin-top: 10px;
  }    
}
#links-section li {
  list-style-image: url(/img/caret-forward.svg);
  font-size: 80%;
  margin-top: -15px;
}
#links-section li::marker {
  background-color: #F48221;
  font-size: 30px;
}
#links-section a:link,
#links-section a:visited{
  color: black;
}
#links-section a:hover{
  color: #00b0f0;
  text-decoration: none;
}
